* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

:root {
    --primary-color: #cd54bf;
    --secondary-color: #e4f2ea;
    --font-size: 16px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--secondary-color);
}
header {

    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: top;
    width: 100vw;
    height: 100px;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--primary-color) 10%, var(--secondary-color) 90%);
    
}

header h1 {
    font-size: 24px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    min-height: 80vh; 
  }
  
  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    font-size: 2rem;
    border-radius: 20px;
    margin: 10px;
    color: black;
  }

.output {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.general-data{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.weather-data {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 20px;

}

form {
    background-color: var(--secondary-color);
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding:  20px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    align-self: start;
    margin-left: 36px;

}

input[type="text"],
select {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="text"]:focus,
select:focus {
    border-color: #007BFF;
    outline: none;
}


.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

button {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;

}

#send-btn {
    background-color: #007BFF;
    color: white;
}

#send-btn:hover {
    background-color: #0056b3;
}

#clear-btn {
    background-color: #f8f9fa;
    color: #333;
}

#clear-btn:hover {
    background-color: #e2e6ea;
}

.info-icon {
    font-size: 18px;
    font-weight: 900;
    color: rgb(48, 47, 47);
    cursor: pointer;
    position: relative;
    margin-right: 30px; 
    align-self: flex-end;
}


.info-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: wrap;
    opacity: 0;
    min-width: 200px; 
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.info-icon:hover::after {
    opacity: 1;
}